data/*
reports/PneumoniaCXR-AIDetect_FinalReport.gdoc
reports/PneumoniaCXR-AIDetect_Presentation_GK Slides.mp4
reports/PneumoniaCXR-AIDetect_Presentation_GK Slides.pptx
reports/PneumoniaCXR-AIDetect_Presentation_GK Slides.glides
reports/PneumoniaCXR-AIDetect_Proposal.gdoc